<%
  boolean authorizedToEdit = ejbcarabean.authorizedToEditEndEntityProfiles();

  int[] statuses = ViewEndEntityHelper.statusids;
  String[] statustexts = ViewEndEntityHelper.statustexts;

  profiledata = ejbcarabean.getTemporaryEndEntityProfile();
  if(profiledata == null){
    profiledata = ejbcarabean.getEndEntityProfile(profile);
  }
   TreeMap eecertificateprofilenames = ejbcawebbean.getInformationMemory().getAuthorizedEndEntityCertificateProfileNames();
   TreeMap subcacertificateprofilenames = ejbcawebbean.getInformationMemory().getAuthorizedSubCACertificateProfileNames();
   boolean used = false;

   String[] tokentexts = RAInterfaceBean.tokentexts;
   int[] tokenids = RAInterfaceBean.tokenids;
   String[] hardtokenissueraliases = new String[0];
   int[] hardtokenissuerids = new int[0];

   Map caidtonamemap = cabean.getCAIdToNameMap();
   Collection authorizedcas = ejbcawebbean.getAuthorizedCAIds();
   
   String[] printerNames = ejbcarabean.listPrinters();
   
   if(globalconfiguration.getIssueHardwareTokens()){
      TreeMap hardtokenprofiles = ejbcawebbean.getInformationMemory().getHardTokenProfiles();      

      tokentexts = new String[RAInterfaceBean.tokentexts.length + hardtokenprofiles.keySet().size()];
      tokenids   = new int[tokentexts.length];
      for(int i=0; i < RAInterfaceBean.tokentexts.length; i++){
        tokentexts[i]= RAInterfaceBean.tokentexts[i];
        tokenids[i] = RAInterfaceBean.tokenids[i];
      }
      Iterator iter = hardtokenprofiles.keySet().iterator();
      int index=0;
      while(iter.hasNext()){       
        String name = (String) iter.next();
        tokentexts[index+RAInterfaceBean.tokentexts.length]= name;
        tokenids[index+RAInterfaceBean.tokentexts.length] = ((Integer) hardtokenprofiles.get(name)).intValue();
        index++;
      }

      hardtokenissueraliases = new String[ejbcawebbean.getInformationMemory().getHardTokenIssuers().keySet().size()];
      Iterator issueriter = ejbcawebbean.getInformationMemory().getHardTokenIssuers().keySet().iterator();
      
      hardtokenissuerids = new int[hardtokenissueraliases.length];
      for(int i=0; i < hardtokenissueraliases.length; i++){
        hardtokenissueraliases[i] = (String) issueriter.next();
        hardtokenissuerids[i]= tokenbean.getHardTokenIssuerId(hardtokenissueraliases[i]);
      }
   }

   boolean emailfieldexists = false;
   int row = 0;
%>
<script type="text/javascript">

  <!-- // Method to check all textfields for valid input -->
<!--  
    var numbersubjectdnfields = <%= profiledata.getSubjectDNFieldOrderLength()%>
    var dnfieldtypes = new Array(<%= profiledata.getSubjectDNFieldOrderLength()%>);
    <% for(int i=0; i < profiledata.getSubjectDNFieldOrderLength(); i++){ %>
    dnfieldtypes[<%=i %>] = <%= profiledata.getSubjectDNFieldsInOrder(i)[EndEntityProfile.FIELDTYPE]%>
    <%}%>

    var numbersubjectaltnamesfields = <%= profiledata.getSubjectAltNameFieldOrderLength()%>
    var altnamesfieldtypes = new Array(<%= profiledata.getSubjectAltNameFieldOrderLength()%>);
    <% for(int i=0; i < profiledata.getSubjectAltNameFieldOrderLength(); i++){ %>
    altnamesfieldtypes[<%=i %>] = <%=profiledata.getSubjectAltNameFieldsInOrder(i)[EndEntityProfile.FIELDTYPE]%>
    <%}%>
  
function checkallfields(){
    var illegalfields = 0;
    var fieldname;

    if(!checkfieldforlegalcharswithchangeable("document.editprofile.<%=TEXTFIELD_USERNAME%>","<%= ejbcawebbean.getText("ONLYCHARACTERS2") %>"))
      illegalfields++;

    for(var i=0; i < numbersubjectdnfields; i++){
      if( dnfieldtypes[i] != <%= DnComponents.dnIdToProfileId(DNFieldExtractor.E) %>){
        fieldname = "document.editprofile.<%=TEXTFIELD_SUBJECTDN%>" + i;
        if(!checkfieldforlegaldncharswithchangeable(fieldname,"<%= ejbcawebbean.getText("ONLYDNCHARACTERS") %>"))
          illegalfields++;
      }    
    } 

    for(var i=0; i < numbersubjectaltnamesfields; i++){
      if(altnamesfieldtypes[i] != <%= DnComponents.dnIdToProfileId(DNFieldExtractor.RFC822NAME) %>){
        fieldname = "document.editprofile.<%=TEXTFIELD_SUBJECTALTNAME%>"+i;
        if(!checkfieldforlegaldncharswithchangeable(fieldname,"<%= ejbcawebbean.getText("ONLYDNCHARACTERS") %>"))
          illegalfields++;
      }    
    } 
  

    if(!checkfieldforlegalemailcharswithoutatwithchangeable("document.editprofile.<%=TEXTFIELD_EMAIL%>","<%= ejbcawebbean.getText("ONLYEMAILCHARSNOAT") %>"))
      illegalfields++;
 
    if(document.editprofile.<%= SELECT_DEFAULTCERTPROFILE %>.options.selectedIndex == -1){
      alert("<%=  ejbcawebbean.getText("ADEFAULTCERTPROFILE", true) %>");
      illegalfields++;
    }
    <%    if(globalconfiguration.getIssueHardwareTokens()){ %>
    if(document.editprofile.<%= SELECT_DEFAULTHARDTOKENISSUER %>.options.selectedIndex == -1 && document.editprofile.<%=CHECKBOX_USE_HARDTOKENISSUERS %>.checked){
      alert("<%=  ejbcawebbean.getText("ADEFAULTHARDTOKENISSUER", true) %>");
      illegalfields++;
    }
    <% } %>

   
    if(document.editprofile.<%=CHECKBOX_USE_SENDNOTIFICATION%>.checked){ 
    	
    	//Check the prototype
    <%if(ejbcarabean.getTemporaryEndEntityProfileNotification() != null) {  %>
    	if(trim(document.editprofile.<%=TEXTFIELD_NOTIFICATIONSENDER%>.value) == ""){
	        alert("<%=  ejbcawebbean.getText("MUSTFILLINANOTIFICATIONSENDER", true) %>");
	        illegalfields++;
	      } 
	
	      if(!checkfieldforlegalemailchars("document.editprofile.<%=TEXTFIELD_NOTIFICATIONSENDER%>","<%= ejbcawebbean.getText("NOTIFICATIONSENDERNOTVALID") %>")) {
	      	illegalfields++;
	      }
	
	      if(trim(document.editprofile.<%=TEXTFIELD_NOTIFICATIONSUBJECT%>.value) == ""){
	        alert("<%=  ejbcawebbean.getText("MUSTFILLINANOTIFICATIONSUBJECT", true) %>");
	        illegalfields++;
	      } 
	      if(trim(document.editprofile.<%=TEXTAREA_NOTIFICATIONMESSAGE%>.value) == ""){
	        alert("<%=  ejbcawebbean.getText("MUSTFILLINANOTIFICATIONMESSAGE", true) %>");
	        illegalfields++;
	      } 
  <% } %>	    	    	
  }

    
    if(document.editprofile.<%=CHECKBOX_USE_PRINTING%>.checked){            
      if(trim(document.editprofile.<%=SELECT_PRINTINGPRINTERNAME%>.value) == "-1"){
        alert("<%=  ejbcawebbean.getText("ERRORNOPRINTERISAVAIL", true) %>");
        illegalfields++;
      }            
    }


    if(illegalfields == 0){
      document.editprofile.<%= CHECKBOX_CLEARTEXTPASSWORD %>.disabled = false;
      document.editprofile.<%= CHECKBOX_REQUIRED_CLEARTEXTPASSWORD %>.disabled = false; 
      document.editprofile.<%= TEXTFIELD_EMAIL %>.disabled = false;
      document.editprofile.<%= CHECKBOX_USE_EMAIL %>.disabled = false;
      <% if(globalconfiguration.getEnableKeyRecovery()){ %>
      document.editprofile.<%= CHECKBOX_REQUIRED_KEYRECOVERABLE %>.disabled = false;
      document.editprofile.<%= CHECKBOX_KEYRECOVERABLE %>.disabled = false;
      document.editprofile.<%=CHECKBOX_REUSECERTIFICATE%>.disabled = false;
      <% } %>
      document.editprofile.<%= CHECKBOX_REQUIRED_SENDNOTIFICATION %>.disabled = false;
      document.editprofile.<%= CHECKBOX_SENDNOTIFICATION %>.disabled = false;
      document.editprofile.<%= CHECKBOX_REQUIRED_CARDNUMBER %>.disabled = false;
      document.editprofile.<%= CHECKBOX_REQUIRED_NC_PERMITTED %>.disabled = false;
      document.editprofile.<%= CHECKBOX_REQUIRED_NC_EXCLUDED %>.disabled = false;
      document.editprofile.<%= CHECKBOX_ALLOW_MERGEDN_WEBSERVICES %>.disabled = false;
    }

     return illegalfields == 0;  
} 

function checkusecheckbox(usefield, value, required){
  var usebox = eval("document.editprofile." + usefield);
  var valuefield = eval("document.editprofile." + value);
  var reqbox = eval("document.editprofile." + required);
  if(usebox.checked){
    valuefield.disabled = false;
    reqbox.disabled = false;
  }
  else{
    valuefield.checked=false;
    valuefield.disabled = true;
    reqbox.checked = false;
    reqbox.disabled = true;
  }
}

function checkusecheckbox2(usefield, required){
	  var usebox = eval("document.editprofile." + usefield);
	  var reqbox = eval("document.editprofile." + required);
	  if(usebox.checked){
	    reqbox.disabled = false;
	  }
	  else{
	    reqbox.checked = false;
	    reqbox.disabled = true;
	  }
	}

<% if(globalconfiguration.getEnableKeyRecovery()){ %> 

function checkkeyrecusebox(){

  if(document.editprofile.<%=CHECKBOX_USE_KEYRECOVERABLE%>.checked){
    document.editprofile.<%=CHECKBOX_REUSECERTIFICATE%>.disabled = false;
  }else{
    document.editprofile.<%=CHECKBOX_REUSECERTIFICATE%>.disabled = true;
    document.editprofile.<%=CHECKBOX_REUSECERTIFICATE%>.checked = false;
  }
}

<% } %>

function usenotificationchange(){
	var disable = !document.editprofile.<%=CHECKBOX_USE_SENDNOTIFICATION%>.checked;
	var names = ["<%=BUTTON_DELETE_NOTIFICATION%>",
	             "<%=BUTTON_ADD_NOTIFICATION%>",
	             "<%=BUTTON_ADD_ANOTHER_NOTIFICATION%>",
	             "<%=BUTTON_DELETE_TEMPORARY_NOTIFICATION%>",
	             "<%=TEXTFIELD_NOTIFICATIONSENDER%>",
	             "<%=TEXTFIELD_NOTIFICATIONRCPT%>",
	             "<%=SELECT_NOTIFICATIONEVENTS%>",
	             "<%=TEXTFIELD_NOTIFICATIONSUBJECT%>",
	             "<%=TEXTAREA_NOTIFICATIONMESSAGE%>"];
	for (var i = 0; i < document.editprofile.length; i++) {
		var control = document.editprofile[i];
		for (var j = 0; j < names.length; j++) {
			if (control.name.indexOf(names[j]) != -1) {
				control.disabled = disable;
			}
		}
	}
	//Delete All should always be disabled if there are no notifications
	document.editprofile.<%=BUTTON_DELETEALL_NOTIFICATION%>.disabled = disable || <%=profiledata.getUserNotifications().size() == 0%>;
}

function useprintingchange(){
  if(document.editprofile.<%=CHECKBOX_USE_PRINTING%>.checked){
     document.editprofile.<%=SELECT_PRINTINGPRINTERNAME%>.disabled = false;
     document.editprofile.<%=SELECT_PRINTINGCOPIES%>.disabled = false;
  }else{
     document.editprofile.<%=SELECT_PRINTINGPRINTERNAME%>.disabled = true;
     document.editprofile.<%=SELECT_PRINTINGCOPIES%>.disabled = true;                  
  }
}


function checkautogenbox(){
  var usebox = eval("document.editprofile.<%= CHECKBOX_USE_PASSWORD %>");
  var valuefield = eval("document.editprofile.<%= TEXTFIELD_PASSWORD %>");
  var reqbox = eval("document.editprofile.<%= CHECKBOX_REQUIRED_PASSWORD %>");
  var modifyablebox = eval("document.editprofile.<%= CHECKBOX_MODIFYABLE_PASSWORD %>");
  var pwdtypeselect = eval("document.editprofile.<%= SELECT_AUTOPASSWORDTYPE %>");
  var pwdlenselect = eval("document.editprofile.<%= SELECT_AUTOPASSWORDLENGTH %>");

  if(usebox.checked){
    valuefield.value = "";
    valuefield.disabled = true;
    pwdtypeselect.disabled = false;
    pwdlenselect.disabled = false;
    reqbox.checked = false;
    reqbox.disabled = true;
    modifyablebox.checked = false;
    modifyablebox.disabled = true;
  }
  else{    
    valuefield.disabled = false;
    pwdtypeselect.disabled = true;
    pwdlenselect.disabled = true;
    reqbox.disabled = false;
    modifyablebox.disabled = false;
  }
}

function checkusehardtokenissuers(){
  if(document.editprofile.<%=CHECKBOX_USE_HARDTOKENISSUERS %>.checked){
    document.editprofile.<%=SELECT_DEFAULTHARDTOKENISSUER %>.disabled = false;
    document.editprofile.<%=SELECT_AVAILABLEHARDTOKENISSUERS %>.disabled = false;
  }
  else{
    document.editprofile.<%=SELECT_DEFAULTHARDTOKENISSUER %>.disabled = true;
    document.editprofile.<%=SELECT_AVAILABLEHARDTOKENISSUERS %>.disabled = true;
  }
}


function checkusetextfield(usefield, value, required, change){
  var usebox = eval("document.editprofile." + usefield);
  var valuefield = eval("document.editprofile." + value);
  var reqbox = eval("document.editprofile." + required);
  var changebox = eval("document.editprofile." + change);

  if(usebox.checked){
    valuefield.disabled = false;
    reqbox.disabled = false;
    changebox.disabled = false;
  }
  else{
    valuefield.value = "";
    valuefield.disabled = true;
    reqbox.checked = false;
    reqbox.disabled = true;
    changebox.checked = false;
    changebox.disabled = true;
  }
}

function checkusetextfieldwithradio(usefield, value, change, radiogroup){
	  var usebox = eval("document.editprofile." + usefield);
	  var valuefield = eval("document.editprofile." + value);
	  var changebox = eval("document.editprofile." + change);
	  var radioboxes = eval("document.editprofile." + radiogroup);

	  if(usebox.checked){
		  if(radioboxes[0].checked) {
	    	valuefield.disabled = false;
		  }
	    changebox.disabled = false;
	    radioboxes[0].disabled = false;
	    radioboxes[1].disabled = false;
	  }
	  else{
	    valuefield.value = "";
	    valuefield.disabled = true;
	    changebox.checked = false;
	    changebox.disabled = true;
	    radioboxes[0].disabled = true;
	    radioboxes[1].disabled = true;
	  }
}

function checkemailfield(reqfield){
  var box = eval("document.editprofile." + reqfield);

  if(box.checked){
      document.editprofile.<%= CHECKBOX_REQUIRED_EMAIL %>.checked = true;    
  }

}

function checkuseemailfield(){
  if(document.editprofile.<%= CHECKBOX_USE_SENDNOTIFICATION %>.checked)
    document.editprofile.<%= CHECKBOX_USE_EMAIL %>.checked = true;    
}

function checkmodifiablednfield(i) {
  var checkbox = eval("document.editprofile.<%=CHECKBOX_MODIFYABLE_SUBJECTDN %>" + i);
  var validation_checkbox = eval("document.editprofile.<%=CHECKBOX_VALIDATION_SUBJECTDN %>" + i);
  var validation_label = document.getElementById("<%=LABEL_VALIDATION_SUBJECTDN %>" + i);
  var validation_editbox = eval("document.editprofile.<%=TEXTFIELD_VALIDATION_SUBJECTDN %>" + i);
  
  if (checkbox.checked) {
    validation_checkbox.disabled = false;
    validation_label.style.color = "inherit";
  } else {
    validation_checkbox.disabled = true;
    validation_checkbox.checked = false;
    validation_editbox.disabled = true;
    validation_editbox.value = "";
    validation_label.style.color = "gray";
  }
}

function checkmodifiablealtfield(i) {
  var checkbox = eval("document.editprofile.<%=CHECKBOX_MODIFYABLE_SUBJECTALTNAME %>" + i);
  var validation_checkbox = eval("document.editprofile.<%=CHECKBOX_VALIDATION_SUBJECTALTNAME %>" + i);
  var validation_label = document.getElementById("<%=LABEL_VALIDATION_SUBJECTALTNAME %>" + i);
  var validation_editbox = eval("document.editprofile.<%=TEXTFIELD_VALIDATION_SUBJECTALTNAME %>" + i);
  
  if (checkbox.checked) {
    validation_checkbox.disabled = false;
    validation_label.style.color = "inherit";
  } else {
    validation_checkbox.disabled = true;
    validation_checkbox.checked = false;
    validation_editbox.disabled = true;
    validation_editbox.value = "";
    validation_label.style.color = "gray";
  }
}

function checkvalidationdnfield(i) {
  var checkbox = eval("document.editprofile.<%=CHECKBOX_VALIDATION_SUBJECTDN %>" + i);
  var editbox = eval("document.editprofile.<%=TEXTFIELD_VALIDATION_SUBJECTDN %>" + i);
  
  if (checkbox.checked) {
    editbox.disabled = false;
    editbox.focus();
  } else {
    editbox.value = "";
    editbox.disabled = true;
  }
}

function checkvalidationaltfield(i) {
  var checkbox = eval("document.editprofile.<%=CHECKBOX_VALIDATION_SUBJECTALTNAME %>" + i);
  var editbox = eval("document.editprofile.<%=TEXTFIELD_VALIDATION_SUBJECTALTNAME %>" + i);
  
  if (checkbox.checked) {
    editbox.disabled = false;
    editbox.focus();
  } else {
    editbox.value = "";
    editbox.disabled = true;
  }
}

function checkuseendentityemail(i) {
	var valuefield = eval("document.editprofile.<%= TEXTFIELD_SUBJECTALTNAME %>" + i);
	var checkbox = eval("document.editprofile.<%=CHECKBOX_USE_SUBJECTALTNAME %>" + i);
	var modifiableCheckbox = eval("document.editprofile.<%= CHECKBOX_MODIFYABLE_SUBJECTALTNAME %>" + i);
	valuefield.disabled = checkbox.checked;
	modifiableCheckbox.disabled = checkbox.checked;
	if (valuefield.disabled) {
		valuefield.value = "";
	}
	if (modifiableCheckbox.disabled) {
		modifiableCheckbox.checked = false;
	}
	checkmodifiablealtfield(i);
}

 function maxFailedLoginsUnlimited() {
	document.editprofile.<%= TEXTFIELD_MAXFAILEDLOGINS %>.disabled = true;
 }

 function maxFailedLoginsSpecified() {
	document.editprofile.<%= TEXTFIELD_MAXFAILEDLOGINS %>.disabled = false;
 }
-->

</script>
<div align="center"> 
  <h2><c:out value="<%= ejbcawebbean.getText(\"EDITENDENTITYPROFILE\") %>" /></h2>
  <h3><c:out value="<%= ejbcawebbean.getText(\"ENDENTITYPROFILE\") + \" : \" + profile %>" /></h3>
  <% if(fileuploadsuccess){%>
  <h3><c:out value="<%= ejbcawebbean.getText(\"TEMPLATEUPLOADSUCCESSFUL\")%>" /></h3>
  <% }if(fileuploadfailed){ %> 
  <h3><c:out value="<%= ejbcawebbean.getText(\"TEMPLATEUPLOADFAILED\") %>" /></h3>
  <% } %>
</div>

<%
if (!editerrors.isEmpty()) {
    // e.g. invalid regex
    %><div class="alert"><%
    for (String editerror : editerrors.values()) {
        %><c:out value="<%= ejbcawebbean.getText(\"ERROR\") + \": \" + editerror %>" /><br /><%
    }
    %></div><%
}
%>

<form name="editprofile" method="post" action="<%=THIS_FILENAME %>" >
  <input type="hidden" name='<%= ACTION %>' value='<%=ACTION_EDIT_PROFILE %>'>
  <input type="hidden" name='<%= HIDDEN_PROFILENAME %>' value='<c:out value="<%= profile %>"/>'>
  <table class="edit" id="endentityprofile" width="100%" border="0" cellspacing="3" cellpadding="3">
    <tr id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="left"> 
        &nbsp;
      </td>
      <td width="50%" valign="top" align="right"> 
        <a href="<%=THIS_FILENAME %>"><c:out value="<%= ejbcawebbean.getText(\"BACKTOENDENTITYPROFILES\") %>" /></a>
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a onclick='displayHelpWindow("<%= ejbcawebbean.getHelpfileInfix("ra_help.html") + "#profiles"%>")'>
        <c:out value="<%= ejbcawebbean.getText(\"HELP\") %>" /></a> -->
      </td>
    </tr>


    <!-- ---------- Main -------------------- -->

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%"  align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"ENDENTITYPROFILEID\") %>" />
      </td>
      <td width="50%"> 
        <%= ejbcarabean.getEndEntityProfileId(profile)  %>
      </td>
    </tr>

    <tr id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"USERNAME\") %>" />
      </td>
      <td width="50%" valign="top"> 
        <input type="text" name="<%=TEXTFIELD_USERNAME%>" size="45" maxlength="1024" title="<%= ejbcawebbean.getText("FORMAT_ID_STR") %>"
           value="<c:out value="<%= profiledata.getValue(EndEntityProfile.USERNAME,0) %>"/>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
      </td>
    </tr>

    <tr id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"PASSWORDORENROLLMENTCODE\") %>" />
        <%= ejbcawebbean.getHelpReference("/userguide.html#Password%20Fields") %>
      </td>
      <td width="50%"> 
        <% used = profiledata.getUse(EndEntityProfile.PASSWORD,0); %>
        <input type="text" name="<%=TEXTFIELD_PASSWORD%>" size="20" maxlength="1024" 
           value="<c:out value="<%= profiledata.getValue(EndEntityProfile.PASSWORD,0) %>"/>" <% if(!used) out.write(" disabled "); %> 
           <% if(!authorizedToEdit) { out.write("disabled"); } %> />
           &nbsp;
           <input type="checkbox" name="<%=CHECKBOX_REQUIRED_PASSWORD %>" value="<%=CHECKBOX_VALUE %>" <% if(!used) out.write(" disabled "); %> 
           <% if(profiledata.isRequired(EndEntityProfile.PASSWORD,0))
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_PASSWORD%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
           <label for="<%=CHECKBOX_REQUIRED_PASSWORD%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
           &nbsp;
           <input type="checkbox" name="<%=CHECKBOX_USE_PASSWORD %>" value="<%=CHECKBOX_VALUE %>" onclick='checkautogenbox()'
           <% if(!used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_PASSWORD%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
           <label for="<%=CHECKBOX_USE_PASSWORD%>"><c:out value="<%= ejbcawebbean.getText(\"AUTOGENERATED\") %>" /></label>
           <br />
        <select name="<%=SELECT_AUTOPASSWORDTYPE %>" size="1" <% if(used || !authorizedToEdit) out.write("DISABLED"); %> >
            <% 
            Iterator iterAPT = EndEntityProfile.getAvailablePasswordTypes().iterator();
            while (iterAPT.hasNext()) {
            	String currectPasswordType = (String) iterAPT.next(); %>
            <option  value='<%= currectPasswordType %>'
            <% if (currectPasswordType.equals(profiledata.getValue(EndEntityProfile.AUTOGENPASSWORDTYPE,0))) out.write(" SELECTED "); %>
            ><c:out value="<%= ejbcawebbean.getText(currectPasswordType) %>" />
            </option>
            <% } %>
        </select>
        <span style="white-space: nowrap;">&nbsp;<c:out value="<%= ejbcawebbean.getText(\"OFLENGTH\") %>" />
        <select name="<%=SELECT_AUTOPASSWORDLENGTH %>" size="1" <% if(used || !authorizedToEdit) out.write("DISABLED"); %> class="number">
            <% for (int currectPasswordLength=4; currectPasswordLength<=16; currectPasswordLength++) { %>
            <option  value='<%= currectPasswordLength %>'
            <% if (Integer.toString(currectPasswordLength).equals(profiledata.getValue(EndEntityProfile.AUTOGENPASSWORDLENGTH,0))) out.write(" SELECTED "); %>
            ><%= currectPasswordLength %>
            </option>
            <% } %>
        </select></span>
      </td>
    </tr>
    <tr id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"MINPWDSTRENGTH\") %>" />
		<%= ejbcawebbean.getHelpReference("/userguide.html#Password%20Fields") %>
      </td>
      <td width="50%"> 
        <input type="text" name="<%= TEXTFIELD_MINPWDSTRENGTH %>" size="5" maxlength="10" value="<c:out value="<%= profiledata.getMinPwdStrength() %>"/>" 
        	title="<%= ejbcawebbean.getText("UNIT_BITS") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
      </td>
    </tr>

    <tr id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
		<c:out value="<%= ejbcawebbean.getText(\"MAXFAILEDLOGINATTEMPTS\") %>" /> 
		<%= ejbcawebbean.getHelpReference("/userguide.html#Maximum%20number%20of%20failed%20login%20attempts") %>
      </td>
      <td width="50%"> 
        <%	
        	used = profiledata.getUse(EndEntityProfile.MAXFAILEDLOGINS, 0);
        	String maxLoginAttempts = profiledata.getValue(EndEntityProfile.MAXFAILEDLOGINS, 0);
        	boolean unlimited = "-1".equals(maxLoginAttempts);
        %>   
		<input type="checkbox" name="<%=CHECKBOX_USE_MAXFAILEDLOGINS %>" value="<%=CHECKBOX_VALUE %>"
			onClick="checkusetextfieldwithradio('<%=CHECKBOX_USE_MAXFAILEDLOGINS %>', '<%=TEXTFIELD_MAXFAILEDLOGINS %>',
			'<%=CHECKBOX_MODIFYABLE_MAXFAILEDLOGINS %>', '<%= RADIO_MAXFAILEDLOGINS %>')"
			<%	if (used) {
					out.write(" checked ");
				} %>
			id="<%=CHECKBOX_USE_MAXFAILEDLOGINS%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
		<label for="<%=CHECKBOX_USE_MAXFAILEDLOGINS%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
		:&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULT\") %>" />
        =
        <fieldset>
            <input type="radio" name="<%= RADIO_MAXFAILEDLOGINS %>" value="<%= RADIO_MAXFAILEDLOGINS_VAL_SPECIFIED %>" 
            	onclick="maxFailedLoginsSpecified()" <% if(!unlimited) { out.write("checked"); } %> <% if(!used || !authorizedToEdit) { out.write("disabled"); } %>>
            <input type="text" name="<%= TEXTFIELD_MAXFAILEDLOGINS %>" size="5" maxlength="255" 
            	value='<% if(!unlimited) { out.write(""+maxLoginAttempts); } %>' <% if(!used || unlimited || !authorizedToEdit) { out.write("disabled"); } %> 
            	title="<%= ejbcawebbean.getText("FORMAT_INTEGER") %>">
            <input type="radio" name="<%= RADIO_MAXFAILEDLOGINS %>" value="<%= RADIO_MAXFAILEDLOGINS_VAL_UNLIMITED %>" 
            	onclick="maxFailedLoginsUnlimited()" <% if(unlimited) { out.write("checked"); } %> <% if(!used || !authorizedToEdit) { out.write("disabled"); } %>
                id="<%=RADIO_MAXFAILEDLOGINS%>unlimited" />
            <label for="<%=RADIO_MAXFAILEDLOGINS%>unlimited"><c:out value="<%= ejbcawebbean.getText(\"UNLIMITED\") %>" /></label>
        </fieldset>
		
        <input type="checkbox" name="<%= CHECKBOX_MODIFYABLE_MAXFAILEDLOGINS  %>" value="<%=CHECKBOX_VALUE %>"
		<%	if ( profiledata.isModifyable(EndEntityProfile.MAXFAILEDLOGINS, 0) ) {
				out.write(" checked ");
			} %>
		<%	if ( !used  || !authorizedToEdit ) {
				out.write(" disabled ");
			} %>
               id="<%=CHECKBOX_MODIFYABLE_MAXFAILEDLOGINS%>" />
        <label for="<%=CHECKBOX_MODIFYABLE_MAXFAILEDLOGINS%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label>
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"USEINBATCH\") %>" />
      </td>
      <td width="50%"> 
        <% used = false;
             if(profiledata.getUse(EndEntityProfile.CLEARTEXTPASSWORD,0)) 
                 used=true; %>
        <input type="checkbox" name="<%=CHECKBOX_USE_CLEARTEXTPASSWORD %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusecheckbox('<%=CHECKBOX_USE_CLEARTEXTPASSWORD %>', '<%=CHECKBOX_CLEARTEXTPASSWORD%>', '<%=CHECKBOX_REQUIRED_CLEARTEXTPASSWORD %>')"
           <%  if(used)
                 out.write(" CHECKED ");
           %> id="<%=CHECKBOX_USE_CLEARTEXTPASSWORD%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_CLEARTEXTPASSWORD%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULT\") %>" />
        =<input type="checkbox" name="<%=CHECKBOX_CLEARTEXTPASSWORD%>"  value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.getValue(EndEntityProfile.CLEARTEXTPASSWORD,0).equals(EndEntityProfile.TRUE) && used)
                 out.write(" CHECKED ");
           %> id="<%=CHECKBOX_CLEARTEXTPASSWORD%>" />
        <%-- <label for="<%=CHECKBOX_CLEARTEXTPASSWORD%>"><c:out value="<%= ejbcawebbean.getText(\"CHECKED\") %>" /></label> --%>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_CLEARTEXTPASSWORD %>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.isRequired(EndEntityProfile.CLEARTEXTPASSWORD,0) && used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_CLEARTEXTPASSWORD%>" />
        <label for="<%=CHECKBOX_REQUIRED_CLEARTEXTPASSWORD%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
      </td>
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"EMAILADDRESS\") %>" />
      </td>
      <td width="50%"> 
        <% used = false;
           if(profiledata.getUse(EndEntityProfile.EMAIL,0) || emailfieldexists) 
             used=true; %>
        <input type="checkbox" name="<%=CHECKBOX_USE_EMAIL %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusetextfield('<%=CHECKBOX_USE_EMAIL %>', '<%=TEXTFIELD_EMAIL%>', '<%=CHECKBOX_REQUIRED_EMAIL %>', '<%=CHECKBOX_MODIFYABLE_EMAIL %>')"
           <% if(used)
                 out.write(" CHECKED "); %>
               id="<%=CHECKBOX_USE_EMAIL%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_EMAIL%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        &nbsp;&nbsp;
        <span class="help"><c:out value="<%= ejbcawebbean.getText(\"EMAILADDRESS_HELP\") %>" /></span>
        <br />
        <input type="text" name="<%=TEXTFIELD_EMAIL%>" size="45" maxlength="1024"  <% if(!used || !authorizedToEdit) out.write(" disabled "); %> title="<%= ejbcawebbean.getText("FORMAT_DOMAINNAME") %>"
           value="<% if(profiledata.getValue(EndEntityProfile.EMAIL,0) != null && used);%><c:out value="<%= profiledata.getValue(EndEntityProfile.EMAIL,0) %>"/>">
        <br />
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_EMAIL%>" value="<%=CHECKBOX_VALUE %>"  <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.isRequired(EndEntityProfile.EMAIL,0) && used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_EMAIL%>" />
        <label for="<%=CHECKBOX_REQUIRED_EMAIL%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_MODIFYABLE_EMAIL  %>" value="<%=CHECKBOX_VALUE %>"  <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.isModifyable(EndEntityProfile.EMAIL,0) && used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_MODIFYABLE_EMAIL%>" />
        <label for="<%=CHECKBOX_MODIFYABLE_EMAIL%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label>
      </td>
    </tr>


    <!-- ---------- Directives -------------------- -->

    <tr  id="Row<%=row++%2%>" class="section"> 
      <td width="10%" valign="top">
        &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"DIRECTIVES\") %>" /></strong>
      </td>
      <td width="50%"> 
        &nbsp;   
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        &nbsp
      </td>
      <td width="40%" valign="top" align="right"> 
            <c:out value="<%= ejbcawebbean.getText(\"REVERSEFIELDCHECKS\") %>" /> <%= ejbcawebbean.getHelpReference("/userguide.html#Reverse%20Subject%20DN%20Alt%20Name%20Checks") %>
      </td>
      <td width="50%" valign="top">                   
        <input type="checkbox" name="<%=CHECKBOX_REVERSEFIELDCHECKS %>" value="<%=CHECKBOX_VALUE %>"   <% if(profiledata.getReverseFieldChecks()) out.write("CHECKED"); %>          
               id="<%=CHECKBOX_REVERSEFIELDCHECKS%>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>          
        <label for="<%=CHECKBOX_REVERSEFIELDCHECKS%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
      </td> 
    </tr>

   <tr id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp; 
      </td>
      <td width="40%"  align="right"> 
         <c:out value="<%= ejbcawebbean.getText(\"ALLOWMERGEDNWEBSERVICES\") %>" /> 
         <%= ejbcawebbean.getHelpReference("/adminguide.html#Configuring%20Web%20Services%20behavior") %>
      </td>
      <td width="50%">         
      	<input type="checkbox" name="<%=CHECKBOX_ALLOW_MERGEDN_WEBSERVICES %>" value="<%=CHECKBOX_VALUE %>"                
           <% if(profiledata.getAllowMergeDnWebServices()) out.write("CHECKED"); %>
           id="<%=CHECKBOX_ALLOW_MERGEDN_WEBSERVICES%>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
        <label for="<%=CHECKBOX_ALLOW_MERGEDN_WEBSERVICES%>"><c:out value="<%= ejbcawebbean.getText(\"ALLOW\") %>" /></label>           
      </td>
	</tr>


    <!-- ---------- Subject DN attributes -------------------- -->

    <tr  id="Row<%=row++%2%>" class="section"> 
      <td width="10%" valign="top">
        &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"CERT_SUBJECTDN_ATTRIBUTES\") %>" /></strong>
        <%= ejbcawebbean.getHelpReference("/userguide.html#End%20Entity%20Profile%20fields") %>
      </td>
      <td width="50%"> 
        &nbsp;   
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <c:out value="<%= ejbcawebbean.getText(\"SELECTFORREMOVAL\") %>" />
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"CERT_SUBJECTDN_ATTRIBUTES\") %>" /></strong>
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_ADDSUBJECTDN %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% 
            String[] subjectdnfields = EndEntityProfile.getSubjectDNProfileFields();
               for(int i=0; i < subjectdnfields.length; i++){ %>
           <option  value='<c:out value="<%= subjectdnfields[i] %>"/>'><c:out value="<%= ejbcawebbean.getText(DnComponents.getLanguageConstantFromProfileName(subjectdnfields[i])) %>" />
           </option>
            <% } %>
        </select>
        &nbsp;
        <input type="submit" name="<%= BUTTON_ADDSUBJECTDN %>" value="<%= ejbcawebbean.getText("ADD") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>   
      </td> 
    </tr>

    <% numberofsubjectdnfields = profiledata.getSubjectDNFieldOrderLength();
       for(int i=0; i < numberofsubjectdnfields; i++){
         fielddata =  profiledata.getSubjectDNFieldsInOrder(i);
    %>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <input type="checkbox" name="<%=CHECKBOX_SELECTSUBJECTDN + i%>" value="<%=CHECKBOX_VALUE %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>      
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(DnComponents.getLanguageConstantFromProfileId(fielddata[EndEntityProfile.FIELDTYPE])) %>" />
      </td>
      <td width="50%"> 
        <% if(!EndEntityProfile.isFieldOfType(fielddata[EndEntityProfile.FIELDTYPE], DnComponents.DNEMAILADDRESS) ){ %>
        <input type="text" name="<%=TEXTFIELD_SUBJECTDN + i%>" size="45" maxlength="1024"
           value="<% if(profiledata.getValue(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) != null) {%><c:out value="<%= profiledata.getValue(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) %>"/><%}%>"
           <% if(!authorizedToEdit) { out.write("disabled"); } %> >
        <br /> 
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_SUBJECTDN + i %>" value="<%=CHECKBOX_VALUE %>"
           <% if(profiledata.isRequired(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]))
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_SUBJECTDN + i%>"
           <% if(!authorizedToEdit) { out.write("disabled"); } %>> 
        <label for="<%=CHECKBOX_REQUIRED_SUBJECTDN + i%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
        &nbsp;
        <%
        final boolean isModifiable = profiledata.isModifyable(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]);
        %>
        <input type="checkbox" name="<%=CHECKBOX_MODIFYABLE_SUBJECTDN + i %>" value="<%=CHECKBOX_VALUE %>" onclick="checkmodifiablednfield(<%= i %>)" 
           <% if (isModifiable)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_MODIFYABLE_SUBJECTDN + i%>"
           <% if(!authorizedToEdit) { out.write("disabled"); } %>> 
        <label for="<%=CHECKBOX_MODIFYABLE_SUBJECTDN + i%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label>
        &nbsp;
        <% Map<String,Serializable> validation = profiledata.getValidation(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]); %>
        <input type="checkbox" name="<%=CHECKBOX_VALIDATION_SUBJECTDN + i %>" value="<%=CHECKBOX_VALUE %>"  onclick="checkvalidationdnfield(<%= i %>)" 
           <% if(validation != null) out.write("CHECKED"); %> id="<%=CHECKBOX_VALIDATION_SUBJECTDN + i%>"
           <% if(!authorizedToEdit || !isModifiable) { out.write("disabled"); } %>> 
        <label for="<%=CHECKBOX_VALIDATION_SUBJECTDN + i%>" id="<%=LABEL_VALIDATION_SUBJECTDN + i%>"<% if (!authorizedToEdit || !isModifiable) { out.write(" style=\"color: gray\""); } %>><c:out value="<%= ejbcawebbean.getText(\"VALIDATION\") %>" /></label>
        <% String validationRegex = "";
           if (validation != null) validationRegex = (String)validation.get(RegexFieldValidator.class.getName()); %>
        <input type="text" name="<%=TEXTFIELD_VALIDATION_SUBJECTDN + i%>" value="<c:out value="<%= validationRegex %>"/>" style="font-size: 9pt"
            id="<%=TEXTFIELD_VALIDATION_SUBJECTDN + i%>" <% if (validation == null || !authorizedToEdit) out.write("DISABLED"); %>
            title="<c:out value="<%= ejbcawebbean.getText(\"FORMAT_REGEX\") %>" />"/>
        <%
             if (editerrors.containsKey(TEXTFIELD_VALIDATION_SUBJECTDN + i)) {
                 // e.g. invalid regex
                 %><span class="alert"><c:out value="<%= ejbcawebbean.getText(\"ERROR\") %>" /></span><%
             }
           }
           else{ 
             emailfieldexists=true; 
              %>
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_SUBJECTDN + i %>" value="<%=CHECKBOX_VALUE %>" onclick='checkemailfield("<%=CHECKBOX_REQUIRED_SUBJECTDN + i %>")'
           <% if(profiledata.isRequired(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]))
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_SUBJECTDN + i%>" <% if(!authorizedToEdit) { out.write("disabled"); } %>/>
        <label for="<%=CHECKBOX_REQUIRED_SUBJECTDN + i%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
        &nbsp;&nbsp;&nbsp;
        <span class="help"><c:out value="<%=ejbcawebbean.getText(\"DN_PKIX_EMAILADDRESS_HELP\") %>" /></span>
        <% }%>
      </td>
    </tr>
   <% } %>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <input type="submit" name="<%= BUTTON_DELETESUBJECTDN %>" value="<%= ejbcawebbean.getText("REMOVE") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
      </td>
      <td width="40%" valign="top" align="right"> 
           &nbsp;
      </td>
      <td width="50%" valign="top"> 
        &nbsp;
      </td> 
    </tr>


    <!-- ---------- Other subject attributes -------------------- -->

    <tr  id="Row<%=row++%2%>" class="section"> 
      <td width="10%" valign="top">
        &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"OTHERSUBJECTATTR\") %>" /></strong>
      </td>
      <td width="50%"> 
        &nbsp;   
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <c:out value="<%= ejbcawebbean.getText(\"SELECTFORREMOVAL\") %>" />
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"EXT_PKIX_SUBJECTALTNAME\") %>" /></strong> 
        <%= ejbcawebbean.getHelpReference("/userguide.html#Subject%20Alternative%20Names") %>
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_ADDSUBJECTALTNAME %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% 
               String[] subjectaltnamefields = EndEntityProfile.getSubjectAltnameProfileFields();
               for(int i=0; i < subjectaltnamefields.length; i++){
                 if (EndEntityProfile.isFieldImplemented(subjectaltnamefields[i])) { %>
           <option  value='<c:out value="<%= subjectaltnamefields[i] %>"/>'><c:out value="<%= ejbcawebbean.getText(DnComponents.getLanguageConstantFromProfileName(subjectaltnamefields[i])) %>" />
           </option>
            <%   }
               }%>
        </select>
        &nbsp;<input type="submit" name="<%= BUTTON_ADDSUBJECTALTNAME %>" value="<%= ejbcawebbean.getText("ADD") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>> 
      </td> 
    </tr>
    <% numberofsubjectdnfields = profiledata.getSubjectAltNameFieldOrderLength();
       for(int i=0; i < numberofsubjectdnfields; i++){
         fielddata =  profiledata.getSubjectAltNameFieldsInOrder(i);
         int fieldtype = fielddata[EndEntityProfile.FIELDTYPE];
         if(EndEntityProfile.isFieldImplemented(fieldtype)){
    %>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <input type="checkbox" name="<%=CHECKBOX_SELECTSUBJECTALTNAME + i %>" value="<%=CHECKBOX_VALUE %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>      
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(DnComponents.getLanguageConstantFromProfileId(fielddata[EndEntityProfile.FIELDTYPE])) %>" />
      </td>
      <td width="50%"> 
        <%	boolean useEndEntityEmail = false;
            if ( EndEntityProfile.isFieldOfType(fielddata[EndEntityProfile.FIELDTYPE], DnComponents.RFC822NAME) ) { %>
				<input type="checkbox" name="<%=CHECKBOX_USE_SUBJECTALTNAME + i %>" value="<%=CHECKBOX_VALUE %>" 
		           <%	if ( profiledata.getUse(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) ) {
		                	out.write(" CHECKED ");
		                	emailfieldexists = true;
		                	useEndEntityEmail = true;
						} %> onClick="checkuseendentityemail(<%= i %>)"
						id="<%=CHECKBOX_USE_SUBJECTALTNAME + i%>" 
						<% if(!authorizedToEdit) { out.write("disabled"); } %>/>
				<label for="<%=CHECKBOX_USE_SUBJECTALTNAME + i%>"><c:out value="<%= ejbcawebbean.getText(\"USEENTITYEMAILFIELD\") %>" /></label>
				<br />
		<%	} %>
        <%	if ( EndEntityProfile.isFieldOfType(fielddata[EndEntityProfile.FIELDTYPE], DnComponents.UPN) ) { %>
        		<p class="help"><c:out value="<%= ejbcawebbean.getText(\"ALT_MS_UPN_HELP\") %>" /></p>
        <%	} %>
        <input type="text" name="<%=TEXTFIELD_SUBJECTALTNAME + i%>" size="45" maxlength="1024" 
           value="<%
				if ( profiledata.getValue(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) != null ) {
					%><c:out value="<%= profiledata.getValue(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) %>"/><%
				} %>"
           <%	if ( (EndEntityProfile.isFieldOfType(fielddata[EndEntityProfile.FIELDTYPE], DnComponents.RFC822NAME) &&
           				profiledata.getUse(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER])) || !authorizedToEdit ) {
           			out.write(" DISABLED ");
           		} %> />
        <br />
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_SUBJECTALTNAME + i %>" value="<%=CHECKBOX_VALUE %>"
	        <%	if ( EndEntityProfile.isFieldOfType(fielddata[EndEntityProfile.FIELDTYPE], DnComponents.RFC822NAME) ) {
					out.write(" onclick='checkemailfield(" + CHECKBOX_REQUIRED_SUBJECTALTNAME + i + ")' ");
	        	}
	        	if(profiledata.isRequired(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER])) {
					out.write(" CHECKED ");
				} %> id="<%=CHECKBOX_REQUIRED_SUBJECTALTNAME + i%>"
				<% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_REQUIRED_SUBJECTALTNAME + i%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
        &nbsp;
        <%
        final boolean isModifiable = profiledata.isModifyable(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]);
        %>
        <input type="checkbox" name="<%=CHECKBOX_MODIFYABLE_SUBJECTALTNAME + i %>" value="<%=CHECKBOX_VALUE %>" onclick="checkmodifiablealtfield(<%= i %>)"
           <%	if((profiledata.getUse(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) &&
           			EndEntityProfile.isFieldOfType(fielddata[EndEntityProfile.FIELDTYPE], DnComponents.RFC822NAME))
           			|| !authorizedToEdit ) {
					out.write("DISABLED");
				} else if (isModifiable) {
					out.write("CHECKED");
				} %> id="<%=CHECKBOX_MODIFYABLE_SUBJECTALTNAME + i%>" />
        <label for="<%=CHECKBOX_MODIFYABLE_SUBJECTALTNAME + i%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label>
        &nbsp;
        <% Map<String,Serializable> validation = profiledata.getValidation(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]); %>
        <input type="checkbox" name="<%=CHECKBOX_VALIDATION_SUBJECTALTNAME + i %>" value="<%=CHECKBOX_VALUE %>"  onclick="checkvalidationaltfield(<%= i %>)" 
           <% if(validation != null) out.write("CHECKED"); %> id="<%=CHECKBOX_VALIDATION_SUBJECTALTNAME + i%>"
           <% if(!authorizedToEdit || !isModifiable || useEndEntityEmail) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_VALIDATION_SUBJECTALTNAME + i%>" id="<%=LABEL_VALIDATION_SUBJECTALTNAME + i%>"<% if (!authorizedToEdit || !isModifiable || useEndEntityEmail) { out.write(" style=\"color: gray\""); } %>><c:out value="<%= ejbcawebbean.getText(\"VALIDATION\") %>" /></label>
        <% String validationRegex = "";
           if (validation != null) validationRegex = (String)validation.get(RegexFieldValidator.class.getName()); %>
        <input type="text" name="<%=TEXTFIELD_VALIDATION_SUBJECTALTNAME + i%>" value="<c:out value="<%= validationRegex %>"/>" style="font-size: 9pt"
            id="<%=TEXTFIELD_VALIDATION_SUBJECTALTNAME + i%>" <% if (validation == null || !authorizedToEdit) out.write("DISABLED"); %>
            title="<c:out value="<%= ejbcawebbean.getText(\"FORMAT_REGEX\") %>" />"/>
        <%
             if (editerrors.containsKey(TEXTFIELD_VALIDATION_SUBJECTALTNAME + i)) {
                 // e.g. invalid regex
                 %><span class="alert"><c:out value="<%= ejbcawebbean.getText(\"ERROR\") %>" /></span><%
             } %>
      </td>
    </tr>
   <%   } %>
   <% } %>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <input type="submit" name="<%= BUTTON_DELETESUBJECTALTNAME %>" value="<%= ejbcawebbean.getText("REMOVE") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
      </td>
      <td width="40%" valign="top" align="right"> 
           &nbsp;
      </td>
      <td width="50%" valign="top"> 
        &nbsp;
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <c:out value="<%= ejbcawebbean.getText(\"SELECTFORREMOVAL\") %>" />
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"EXT_PKIX_SUBJECTDIRATTRS\") %>" /></strong>
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_ADDSUBJECTDIRATTR %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% 
               String[] subjectdirattrfields = EndEntityProfile.getSubjectDirAttrProfileFields();
               for(int i=0; i < subjectdirattrfields.length; i++){ %>
           <option  value='<c:out value="<%= subjectdirattrfields[i] %>"/>'><c:out value="<%= ejbcawebbean.getText(DnComponents.getLanguageConstantFromProfileName(subjectdirattrfields[i])) %>" />
           </option>
            <% }%>
        </select>
        &nbsp;<input type="submit" name="<%= BUTTON_ADDSUBJECTDIRATTR %>" value="<%= ejbcawebbean.getText("ADD") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>> 
      </td> 
    </tr>
    <% numberofsubjectdnfields = profiledata.getSubjectDirAttrFieldOrderLength();
       for(int i=0; i < numberofsubjectdnfields; i++){
         fielddata =  profiledata.getSubjectDirAttrFieldsInOrder(i);
         int fieldtype = fielddata[EndEntityProfile.FIELDTYPE];
         {
    %>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <input type="checkbox" name="<%=CHECKBOX_SELECTSUBJECTDIRATTR + i %>" value="<%=CHECKBOX_VALUE %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>      
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(DnComponents.getLanguageConstantFromProfileId(fielddata[EndEntityProfile.FIELDTYPE])) %>" />
      </td>
      <td width="50%"> 
        <input type="text" name="<%=TEXTFIELD_SUBJECTDIRATTR + i%>" size="45" maxlength="1024" 
           value="<%
           		if(profiledata.getValue(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) != null) {
           			%><c:out value="<%= profiledata.getValue(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]) %>"/><%
           		} %>"
           <% if(!authorizedToEdit) { out.write("disabled"); } %> >
        <br />
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_SUBJECTDIRATTR + i %>" value="<%=CHECKBOX_VALUE %>"
           <% if(profiledata.isRequired(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]))
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_SUBJECTDIRATTR + i%>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
        <label for="<%=CHECKBOX_REQUIRED_SUBJECTDIRATTR + i%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_MODIFYABLE_SUBJECTDIRATTR + i %>" value="<%=CHECKBOX_VALUE %>" 
           <% if(profiledata.isModifyable(fielddata[EndEntityProfile.FIELDTYPE], fielddata[EndEntityProfile.NUMBER]))
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_MODIFYABLE_SUBJECTDIRATTR + i%>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
        <label for="<%=CHECKBOX_MODIFYABLE_SUBJECTDIRATTR + i%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label>
      </td>
    </tr>
   <%   } %>
   <% } %>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
        <input type="submit" name="<%= BUTTON_DELETESUBJECTDIRATTR %>" value="<%= ejbcawebbean.getText("REMOVE") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
      </td>
      <td width="40%" valign="top" align="right"> 
           &nbsp;
      </td>
      <td width="50%" valign="top"> 
        &nbsp;
      </td> 
    </tr>


    <!-- ---------- Main certificate data -------------------- -->

    <tr  id="Row<%=row++%2%>" class="section"> 
      <td width="10%" valign="top">
        &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"MAINCERTIFICATEDATA\") %>" /></strong>
      </td>
      <td width="50%"> 
        &nbsp;   
      </td> 
    </tr>

    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULTCERTIFICATEPROFILE\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_DEFAULTCERTPROFILE %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% TreeMap allp =  new TreeMap();
               allp.putAll(eecertificateprofilenames);
               allp.putAll(subcacertificateprofilenames);
               Iterator iter = allp.keySet().iterator();
               while(iter.hasNext()){
                 String nextprofilename = (String) iter.next();
                 int certprofid = ((Integer) allp.get(nextprofilename)).intValue();%>
           <option <%  if(profiledata.getValue(EndEntityProfile.DEFAULTCERTPROFILE ,0) != null)
                          if(profiledata.getValue(EndEntityProfile.DEFAULTCERTPROFILE ,0).equals(Integer.toString(certprofid)))
                            out.write(" selected "); %>
                    value='<c:out value="<%= certprofid %>"/>'>
                    <c:out value="<%= nextprofilename %>"/>
           </option>
            <% } %>
        </select>
      </td>
    </tr>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"AVAILABLECERTIFICATEPROF\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_AVAILABLECERTPROFILES %>" size="7" multiple <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% String[] availablecertprofs = profiledata.getValue(EndEntityProfile.AVAILCERTPROFILES, 0).split(EndEntityProfile.SPLITCHAR);
               // allp was created above for SELECT_DEFAULTCERTPROFILE
               iter = allp.keySet().iterator();
               while(iter.hasNext()){
                 String nextprofilename = (String) iter.next();
                 int certprofid = ((Integer) allp.get(nextprofilename)).intValue(); %>
           <option <% for(int j=0;j< availablecertprofs.length;j++){
                         if(availablecertprofs[j].equals(Integer.toString(certprofid)))
                            out.write(" selected "); 
                      }%>
                    value='<c:out value="<%= certprofid %>"/>'>
                    <c:out value="<%= nextprofilename %>"/>
           </option>
            <% } %>
        </select>
      </td>
    </tr>

    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULTCA\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_DEFAULTCA %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% iter = authorizedcas.iterator();
               while(iter.hasNext()){
                 Integer caid = (Integer) iter.next(); %>
           <option <%  if(profiledata.getValue(EndEntityProfile.DEFAULTCA ,0) != null)
                          if(profiledata.getValue(EndEntityProfile.DEFAULTCA ,0).equals(caid.toString()))
                            out.write(" selected "); %>
                    value='<c:out value="<%= caid.toString() %>"/>'>
                    <c:out value="<%= caidtonamemap.get(caid) %>"/>
           </option>
            <% } %>
        </select>
      </td>
    </tr>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"AVAILABLECAS\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_AVAILABLECAS %>" size="7" multiple <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% String[] availablecas = profiledata.getValue(EndEntityProfile.AVAILCAS, 0).split(EndEntityProfile.SPLITCHAR);
            if (accessToAllCAs) { %>
            <option  value='<%= SecConst.ALLCAS %>' 
               <% if (ArrayUtils.contains(availablecas, String.valueOf(SecConst.ALLCAS)))
                    out.write(" selected ");%>>
               <c:out value="<%= ejbcawebbean.getText(\"ANYCA\") %>" />         
            </option>      
            <%   }
               iter = authorizedcas.iterator();
               while(iter.hasNext()){
                Integer caid = (Integer) iter.next(); %>
           <option <% for(int j=0;j< availablecas.length;j++){
                         if(availablecas[j].equals(caid.toString()))
                            out.write(" selected "); 
                      }%>
                    value='<c:out value="<%= caid.toString() %>"/>'>
                    <c:out value="<%= caidtonamemap.get(caid) %>"/>
           </option>
            <% } %>
        </select>
      </td>
    </tr>

    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULTTOKEN\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_DEFAULTTOKENTYPE %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% for(int i=0; i < tokentexts.length;i++){ %>
           <option <%  if(profiledata.getValue(EndEntityProfile.DEFKEYSTORE  ,0) != null)
                          if(profiledata.getValue(EndEntityProfile.DEFKEYSTORE  ,0).equals(Integer.toString(tokenids[i])))
                            out.write(" selected "); %>
                    value='<c:out value="<%= tokenids[i] %>"/>'><%  if(tokenids[i] <= SecConst.TOKEN_SOFT) 
                                                      out.write(ejbcawebbean.getText(tokentexts[i]));
                                                   else {%>
                                                      <c:out value="<%= tokentexts[i] %>"/>
                                                   <%}%>
           </option>
            <% } %>
        </select>
      </td>
    </tr>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"AVAILABLETOKENS\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_AVAILABLETOKENTYPES %>" size="7" multiple <% if(!authorizedToEdit) { out.write("disabled"); } %> >
            <% String[] profileavailabletokens = profiledata.getValue(EndEntityProfile.AVAILKEYSTORE, 0).split(EndEntityProfile.SPLITCHAR);
               for(int i=0; i < tokentexts.length;i++){ %>
           <option <% for(int j=0;j< profileavailabletokens.length;j++){
                         if(profileavailabletokens[j].equals(Integer.toString(tokenids[i])))
                            out.write(" selected "); 
                      }%>
                    value='<c:out value="<%= tokenids[i] %>"/>'><%  if(tokenids[i] <= SecConst.TOKEN_SOFT) 
                                                      out.write(ejbcawebbean.getText(tokentexts[i]));
                                                   else {%>
                                                      <c:out value="<%= tokentexts[i] %>"/>
                                                   <%}%>
           </option>
            <% } %>
        </select>
      </td>
    </tr>

   <% if(globalconfiguration.getIssueHardwareTokens()){ %>
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"USEHARDTOKENISSUERS\") %>" />
      </td>
      <td width="50%"> 
           <% used =  profiledata.getUse(EndEntityProfile.AVAILTOKENISSUER,0); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_HARDTOKENISSUERS %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusehardtokenissuers()"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_HARDTOKENISSUERS%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
           <label for="<%=CHECKBOX_USE_HARDTOKENISSUERS%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
      </td>
    </tr>
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULTHARDTOKENISSUER\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_DEFAULTHARDTOKENISSUER %>" size="1" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>
            <% for(int i=0; i < hardtokenissueraliases.length;i++){ %>
           <option <%  if(profiledata.getValue(EndEntityProfile.DEFAULTTOKENISSUER ,0) != null)
                          if(profiledata.getValue(EndEntityProfile.DEFAULTTOKENISSUER  ,0).equals(Integer.toString(hardtokenissuerids[i])))
                            out.write(" selected "); %>
                    value='<c:out value="<%= hardtokenissuerids[i] %>"/>'><c:out value="<%= hardtokenissueraliases[i] %>"/>
           </option>
            <% } %>
        </select>
      </td>
    </tr>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"AVAILABLEHARDTOKENISSUERS\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_AVAILABLEHARDTOKENISSUERS %>" size="5" multiple <% if(!used || !authorizedToEdit ) out.write(" disabled "); %>>
            <% String[] availableissuers = profiledata.getValue(EndEntityProfile.AVAILTOKENISSUER, 0).split(EndEntityProfile.SPLITCHAR); 
               for(int i=0; i < hardtokenissueraliases.length;i++){ %>
           <option <% for(int j=0;j< availableissuers.length;j++){
                         if(availableissuers[j].equals(Integer.toString(hardtokenissuerids[i])))
                            out.write(" selected "); 
                      }%>
                    value='<c:out value="<%= hardtokenissuerids[i] %>"/>'><c:out value="<%= hardtokenissueraliases[i] %>"/>
           </option>
            <% } %>
        </select>
      </td>
    </tr>
    <% } %>


    <!-- ---------- Other certificate data -------------------- -->

    <tr  id="Row<%=row++%2%>" class="section"> 
      <td width="10%" valign="top">
        &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"OTHERCERTIFICATEDATA\") %>" /></strong>
      </td>
      <td width="50%"> 
        &nbsp;   
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%"  align="right"> 
		<c:out value="<%= ejbcawebbean.getText(\"CERT_SERIALNUMBER_CUSTOM\") %>" /> <%= ejbcawebbean.getHelpReference("/userguide.html#Allow%20certificate%20serial%20number%20override") %>
      </td>
      <td width="50%"> 
        <%	used = profiledata.getUse(EndEntityProfile.CERTSERIALNR, 0); %>
		<input type="checkbox" name="<%=CHECKBOX_USE_CERTSERIALNR %>" value="<%=CHECKBOX_VALUE %>" 
			onClick="checkusetextfield('<%=CHECKBOX_USE_CERTSERIALNR %>')"
			<%	if ( used ) {
				out.write(" CHECKED ");
				} %>
			   id="<%=CHECKBOX_USE_CERTSERIALNR%>"  <% if(!authorizedToEdit) { out.write("disabled"); } %>/>
		<label for="<%=CHECKBOX_USE_CERTSERIALNR%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
      </td> 
    </tr>


    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
		<c:out value="<%= ejbcawebbean.getText(\"TIMEOFSTART\") %>" /> <%= ejbcawebbean.getHelpReference("/userguide.html#Certificate%20Validity") %>
      </td>
      <td width="50%"> 
        <%	used = profiledata.getUse(EndEntityProfile.STARTTIME, 0); %>
		<input type="checkbox" name="<%=CHECKBOX_USE_STARTTIME %>" value="<%=CHECKBOX_VALUE %>"
			onClick="checkusetextfield('<%=CHECKBOX_USE_STARTTIME %>', '<%=TEXTFIELD_STARTTIME %>',
			'<%=CHECKBOX_MODIFYABLE_STARTTIME %>', '<%= CHECKBOX_REQUIRED_STARTTIME %>')"
			<%	if ( used ) {
					out.write(" CHECKED ");
				} %>
			   id="<%=CHECKBOX_USE_STARTTIME%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
		<label for="<%=CHECKBOX_USE_STARTTIME%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"VALUE\") %>" />
		<input type="text" name="<%=TEXTFIELD_STARTTIME %>" size="25" maxlength="40" title="<%= ejbcawebbean.getText("FORMAT_ISO8601") %> <%= ejbcawebbean.getText("OR") %> (<%= ejbcawebbean.getText("DAYS").toLowerCase() %>:<%= ejbcawebbean.getText("HOURS").toLowerCase() %>:<%= ejbcawebbean.getText("MINUTES").toLowerCase() %>)"
		value="<%= ejbcawebbean.getISO8601FromImpliedUTCOrRelative(profiledata.getValue(EndEntityProfile.STARTTIME, 0)) %>"
		<%	if ( !used || !authorizedToEdit ) {
			out.write(" disabled ");
			} %>
		/>
        <span style="white-space: nowrap;"><input type="checkbox" name="<%= CHECKBOX_MODIFYABLE_STARTTIME %>" value="<%=CHECKBOX_VALUE %>"
		<%	if ( profiledata.isModifyable(EndEntityProfile.STARTTIME, 0) ) {
				out.write(" CHECKED ");
			} %>
		<%	if ( !used || !authorizedToEdit) {
			out.write(" disabled ");
			} %>
               id="<%=CHECKBOX_MODIFYABLE_STARTTIME%>" />
        <label for="<%=CHECKBOX_MODIFYABLE_STARTTIME%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label></span>
		<p class="help">(<c:out value="<%= ejbcawebbean.getText(\"DATE_HELP\") %>" /> <c:out value="<%= ejbcawebbean.getDateExample()
		%>" /> <c:out value="<%= ejbcawebbean.getText(\"OR\").toLowerCase() %>" /> <c:out value="<%= ejbcawebbean.getText(\"DAYS\").toLowerCase()
		%>" />:<c:out value="<%= ejbcawebbean.getText(\"HOURS\").toLowerCase() %>" />:<c:out value="<%= ejbcawebbean.getText(\"MINUTES\").toLowerCase() %>" />)</p>
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
		<c:out value="<%= ejbcawebbean.getText(\"TIMEOFEND\") %>" /> <%= ejbcawebbean.getHelpReference("/userguide.html#Certificate%20Validity") %>
      </td>
      <td width="50%"> 
        <%	used = profiledata.getUse(EndEntityProfile.ENDTIME, 0); %>
		<input type="checkbox" name="<%=CHECKBOX_USE_ENDTIME %>" value="<%=CHECKBOX_VALUE %>" 
			onClick="checkusetextfield('<%=CHECKBOX_USE_ENDTIME %>', '<%=TEXTFIELD_ENDTIME %>',
			'<%=CHECKBOX_MODIFYABLE_ENDTIME %>', '<%= CHECKBOX_REQUIRED_ENDTIME %>')"
			<%	if ( used ) {
				out.write(" CHECKED ");
				} %>
			   id="<%=CHECKBOX_USE_ENDTIME%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
		<label for="<%=CHECKBOX_USE_ENDTIME%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"VALUE\") %>" />
		<input type="text" name="<%=TEXTFIELD_ENDTIME%>" size="25" maxlength="40" title="<%= ejbcawebbean.getText("FORMAT_ISO8601") %> <%= ejbcawebbean.getText("OR") %> (<%= ejbcawebbean.getText("DAYS").toLowerCase() %>:<%= ejbcawebbean.getText("HOURS").toLowerCase() %>:<%= ejbcawebbean.getText("MINUTES").toLowerCase() %>)"
		value="<%= ejbcawebbean.getISO8601FromImpliedUTCOrRelative(profiledata.getValue(EndEntityProfile.ENDTIME, 0)) %>"
		<%	if ( !used || !authorizedToEdit ) {
			out.write(" disabled ");
			} %>
		/>
        <span style="white-space: nowrap;"><input type="checkbox" name="<%=CHECKBOX_MODIFYABLE_ENDTIME %>" value="<%=CHECKBOX_VALUE %>"
		<%	if ( profiledata.isModifyable(EndEntityProfile.ENDTIME, 0) ) {
				out.write(" CHECKED ");
			} %>
		<%	if ( !used || !authorizedToEdit ) {
			out.write(" disabled ");
			} %>
               id="<%=CHECKBOX_MODIFYABLE_ENDTIME%>" />
        <label for="<%=CHECKBOX_MODIFYABLE_ENDTIME%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label></span>
		<p class="help">(<c:out value="<%= ejbcawebbean.getText(\"DATE_HELP\") %>" /> <c:out value="<%= ejbcawebbean.getDateExample() 
		%>" /> <c:out value="<%= ejbcawebbean.getText(\"OR\").toLowerCase() %>" /> <c:out value="<%= ejbcawebbean.getText(\"DAYS\").toLowerCase()
		%>" />:<c:out value="<%= ejbcawebbean.getText(\"HOURS\").toLowerCase() %>" />:<c:out value="<%= ejbcawebbean.getText(\"MINUTES\").toLowerCase() %>" />)</p>
      </td> 
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"CARDNUMBER\") %>" />
        <%= ejbcawebbean.getHelpReference("/userguide.html#Cardnumber") %>
      </td>
      <td width="50%" valign="top"> 
        <% used = profiledata.getUse(EndEntityProfile.CARDNUMBER,0); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_CARDNUMBER %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusecheckbox2('<%=CHECKBOX_USE_CARDNUMBER %>', '<%=CHECKBOX_REQUIRED_CARDNUMBER%>');"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_CARDNUMBER%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_CARDNUMBER%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_CARDNUMBER%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.isRequired(EndEntityProfile.CARDNUMBER,0) && used)
                out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_CARDNUMBER%>" />
        <label for="<%=CHECKBOX_REQUIRED_CARDNUMBER%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
      </td>
    </tr>
    
    <tr  id="Row<%=row%2%>">
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"EXT_PKIX_NC_PERMITTED\") %>" />
        <%= ejbcawebbean.getHelpReference("/userguide.html#Name%20Constraints") %>
      </td>
      <td width="50%" valign="top"> 
        <% used = profiledata.getUse(EndEntityProfile.NAMECONSTRAINTS_PERMITTED,0); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_NC_PERMITTED %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusecheckbox2('<%=CHECKBOX_USE_NC_PERMITTED %>', '<%=CHECKBOX_REQUIRED_NC_PERMITTED%>');"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_NC_PERMITTED%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_NC_PERMITTED%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_NC_PERMITTED%>" value="<%=CHECKBOX_VALUE %>" <% if(!used) out.write(" disabled "); %>
           <% if(profiledata.isRequired(EndEntityProfile.NAMECONSTRAINTS_PERMITTED,0) && used)
                out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_NC_PERMITTED%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_REQUIRED_NC_PERMITTED%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
      </td>
    </tr>
    
    <tr  id="Row<%=row++%2%>">
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right">
        <c:out value="<%= ejbcawebbean.getText(\"EXT_PKIX_NC_EXCLUDED\") %>" />
        <%= ejbcawebbean.getHelpReference("/userguide.html#Name%20Constraints") %>
      </td>
      <td width="50%" valign="top">
        <% used = profiledata.getUse(EndEntityProfile.NAMECONSTRAINTS_EXCLUDED,0); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_NC_EXCLUDED %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusecheckbox2('<%=CHECKBOX_USE_NC_EXCLUDED %>', '<%=CHECKBOX_REQUIRED_NC_EXCLUDED%>');"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_NC_EXCLUDED%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_NC_EXCLUDED%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_NC_EXCLUDED%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.isRequired(EndEntityProfile.NAMECONSTRAINTS_EXCLUDED,0) && used)
                out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_NC_EXCLUDED%>" />
        <label for="<%=CHECKBOX_REQUIRED_NC_EXCLUDED%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
      </td>
    </tr>

    <!-- Extensiondata -->
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%"  align="right"> 
		<c:out value="<%= ejbcawebbean.getText(\"CERT_EXTENSIONDATA_CUSTOM\") %>" /> <%= ejbcawebbean.getHelpReference("/userguide.html#Custom%20certificate%20extension%20data") %>
      </td>
      <td width="50%"> 
        <%	used = profiledata.getUseExtensiondata(); %>
		<input type="checkbox" name="<%=CHECKBOX_USE_EXTENSIONDATA %>" value="<%=CHECKBOX_VALUE %>" 
			<%	if ( used ) {
				out.write(" CHECKED ");
				} %>
			   id="<%=CHECKBOX_USE_EXTENSIONDATA%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
		<label for="<%=CHECKBOX_USE_EXTENSIONDATA%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
      </td> 
    </tr>

    <!-- ---------- Other data -------------------- -->

    <tr  id="Row<%=row++%2%>" class="section">
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right">
         <strong><c:out value="<%= ejbcawebbean.getText(\"OTHERDATA\") %>" /></strong>
      </td>
      <td width="50%" valign="top" align="right">
         &nbsp;
      </td>
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"ALLOWEDREQUESTS\") %>" />
        <%= ejbcawebbean.getHelpReference("/userguide.html#Number%20of%20allowed%20requests") %>
      </td>
      <td width="50%"> 
        <% used = profiledata.getUse(EndEntityProfile.ALLOWEDREQUESTS,0); 
           String nrofrequests = profiledata.getValue(EndEntityProfile.ALLOWEDREQUESTS,0);
           if (nrofrequests == null) {
               nrofrequests = "1";
           } 
         %>
        <input type="checkbox" name="<%=CHECKBOX_USE_ALLOWEDRQUESTS %>" value="<%=CHECKBOX_VALUE %>"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_ALLOWEDRQUESTS%>"
           <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_ALLOWEDRQUESTS%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULT\") %>" />
        =
        <select name="<%=SELECT_ALLOWEDREQUESTS %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %> >
	        <% for(int j=1;j< 6;j++){
	        %>
	        <option
	        <%     if(nrofrequests.equals(Integer.toString(j)))
	                   out.write(" selected "); 
	        %>
	        value='<c:out value="<%= j %>"/>'><c:out value="<%= j %>"/></option>
	        <% }%>
        </select>
      </td>
    </tr>

<% if(globalconfiguration.getEnableKeyRecovery()){ %> 
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"KEYRECOVERABLE\") %>" />
        <%= ejbcawebbean.getHelpReference("/adminguide.html#Key%20Recovery") %>
      </td>
      <td width="50%"> 
        <% used = profiledata.getUse(EndEntityProfile.KEYRECOVERABLE,0); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_KEYRECOVERABLE %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusecheckbox('<%=CHECKBOX_USE_KEYRECOVERABLE %>', '<%=CHECKBOX_KEYRECOVERABLE%>', '<%=CHECKBOX_REQUIRED_KEYRECOVERABLE %>'); checkkeyrecusebox()"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_KEYRECOVERABLE%>" <% if(!authorizedToEdit) { out.write("disabled"); } %>/>
        <label for="<%=CHECKBOX_USE_KEYRECOVERABLE%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULT\") %>" />
        =<input type="checkbox" name="<%=CHECKBOX_KEYRECOVERABLE%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.getValue(EndEntityProfile.KEYRECOVERABLE,0) != null && used)
                 if(profiledata.getValue(EndEntityProfile.KEYRECOVERABLE,0).equals(EndEntityProfile.TRUE))
                   out.write("CHECKED");
           %> id="<%=CHECKBOX_KEYRECOVERABLE%>" />
        <%-- <label for="<%=CHECKBOX_KEYRECOVERABLE%>"><c:out value="<%= ejbcawebbean.getText(\"CHECKED\") %>" /></label> --%>
        &nbsp;
        <span style="white-space: nowrap;"><input type="checkbox" name="<%=CHECKBOX_REUSECERTIFICATE%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.getReUseKeyRecoveredCertificate() && used)
                   out.write("CHECKED");
           %> id="<%=CHECKBOX_REUSECERTIFICATE%>" />
        <label for="<%=CHECKBOX_REUSECERTIFICATE%>"><c:out value="<%= ejbcawebbean.getText(\"REUSEOLDCERTIFICATE\") %>" /></label></span>
        &nbsp;
        <span style="white-space: nowrap;"><input type="checkbox" name="<%=CHECKBOX_REQUIRED_KEYRECOVERABLE%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.isRequired(EndEntityProfile.KEYRECOVERABLE,0) && used)
                out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_KEYRECOVERABLE%>" />
        <label for="<%=CHECKBOX_REQUIRED_KEYRECOVERABLE%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label></span>
      </td>
    </tr>
   <% } %>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"ISSUANCEREVOCATIONREASON\",true) %>" /> <%= ejbcawebbean.getHelpReference("/userguide.html#Revocation%20reason%20to%20set%20after%20certificate%20issuance") %>
      </td>
      <td width="50%"> 
        <% used = profiledata.getUse(EndEntityProfile.ISSUANCEREVOCATIONREASON,0); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_ISSUANCEREVOCATIONREASON %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusecheckbox2('<%=CHECKBOX_USE_ISSUANCEREVOCATIONREASON %>', '<%=CHECKBOX_MODIFYABLE_ISSUANCEREVOCATIONREASON%>');"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_ISSUANCEREVOCATIONREASON%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_ISSUANCEREVOCATIONREASON%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"VALUE\") %>" />
        <% int revstatus = RevokedCertInfo.NOT_REVOKED;
           value = profiledata.getValue(EndEntityProfile.ISSUANCEREVOCATIONREASON ,0);

           if((value != null) && (((String) value).length() > 0)) {
               revstatus = (Integer.valueOf(value)).intValue();
           }
        %>
        <select name="<%= SELECT_ISSUANCEREVOCATIONREASON %>" size="1" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
          <option value="<%= RevokedCertInfo.NOT_REVOKED %>" class="lightgreen" <%
                if(revstatus == RevokedCertInfo.NOT_REVOKED) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"ACTIVE\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_CERTIFICATEHOLD %>" class="lightyellow" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_CERTIFICATEHOLD) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"SUSPENDED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_CERTIFICATEHOLD\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_UNSPECIFIED %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_UNSPECIFIED) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_UNSPECIFIED\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_KEYCOMPROMISE %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_KEYCOMPROMISE) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_KEYCOMPROMISE\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_CACOMPROMISE %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_CACOMPROMISE) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_CACOMPROMISE\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_AFFILIATIONCHANGED %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_AFFILIATIONCHANGED) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_AFFILIATIONCHANGED\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_SUPERSEDED %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_SUPERSEDED) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_SUPERSEDED\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_CESSATIONOFOPERATION %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_CESSATIONOFOPERATION) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_CESSATIONOFOPERATION\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_PRIVILEGESWITHDRAWN %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_PRIVILEGESWITHDRAWN) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_PRIVILEGEWITHDRAWN\") %>" /></option>

          <option value="<%= RevokedCertInfo.REVOCATION_REASON_AACOMPROMISE %>" class="lightred" <%
                if(revstatus == RevokedCertInfo.REVOCATION_REASON_AACOMPROMISE) out.write(" selected ");
          %>><c:out value="<%= ejbcawebbean.getText(\"REVOKED\") %>" />: <c:out value="<%= ejbcawebbean.getText(\"REV_AACOMPROMISE\") %>" /></option>
        </select>
        <span style="white-space: nowrap;">
        <input type="checkbox" name="<%=CHECKBOX_MODIFYABLE_ISSUANCEREVOCATIONREASON %>" value="<%=CHECKBOX_VALUE %>"
		<%	if ( profiledata.isModifyable(EndEntityProfile.ISSUANCEREVOCATIONREASON, 0) ) {
				out.write(" CHECKED ");
			} %>
		<%	if ( !used || !authorizedToEdit ) {
			out.write(" disabled ");
			} %>
               id="<%=CHECKBOX_MODIFYABLE_ISSUANCEREVOCATIONREASON%>" />
        <label for="<%=CHECKBOX_MODIFYABLE_ISSUANCEREVOCATIONREASON%>"><c:out value="<%= ejbcawebbean.getText(\"MODIFYABLE\") %>" /></label></span>
      </td>
    </tr>

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
       <% if(authorizedToEdit) { %>
        <input type="submit" name="<%=BUTTON_DELETEALL_NOTIFICATION%>" value="<%= ejbcawebbean.getText("DELETEALL") %>"
        	 <%=(profiledata.getUse(EndEntityProfile.SENDNOTIFICATION,0) && (profiledata.getUserNotifications().size() > 0)) ? "" : "disabled"%>/>
        <% } %>
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"SENDNOTIFICATION\") %>" /></strong>
        <%= ejbcawebbean.getHelpReference("/adminguide.html#Email%20notifications") %>
      </td>
      <td width="50%" valign="top"> 
        <% used = profiledata.getUse(EndEntityProfile.SENDNOTIFICATION,0); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_SENDNOTIFICATION %>"  id="<%=CHECKBOX_USE_SENDNOTIFICATION %>" value="<%=CHECKBOX_VALUE %>" 
        onclick="checkusecheckbox('<%=CHECKBOX_USE_SENDNOTIFICATION %>', '<%=CHECKBOX_SENDNOTIFICATION%>', '<%=CHECKBOX_REQUIRED_SENDNOTIFICATION %>'); checkuseemailfield();usenotificationchange()"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_SENDNOTIFICATION%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_SENDNOTIFICATION%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULT\") %>" />
        =<input type="checkbox" name="<%=CHECKBOX_SENDNOTIFICATION%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.getValue(EndEntityProfile.SENDNOTIFICATION,0) != null && used)
                 if(profiledata.getValue(EndEntityProfile.SENDNOTIFICATION,0).equals(EndEntityProfile.TRUE))
                   out.write("CHECKED");
           %> id="<%=CHECKBOX_SENDNOTIFICATION%>" />
        <%-- <label for="<%=CHECKBOX_SENDNOTIFICATION%>"><c:out value="<%= ejbcawebbean.getText(\"CHECKED\") %>" /></label> --%>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_SENDNOTIFICATION%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.isRequired(EndEntityProfile.SENDNOTIFICATION,0) && used)
                out.write("CHECKED");
           %> id="<%=CHECKBOX_REQUIRED_SENDNOTIFICATION%>" />
        <label for="<%=CHECKBOX_REQUIRED_SENDNOTIFICATION%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
        <%  if(authorizedToEdit) {
        		if(ejbcarabean.getTemporaryEndEntityProfileNotification() == null) {  %>
         			<input type="submit" name="<%=BUTTON_ADD_NOTIFICATION%>" value="<%= ejbcawebbean.getText("ADD") %>" <% if(!used) out.write(" disabled "); %> />
         <% 	} else { %>
         		<input type="submit" name="<%=BUTTON_ADD_ANOTHER_NOTIFICATION%>" value="<%= ejbcawebbean.getText("ADDANOTHER") %>" <% if(!used) out.write(" disabled "); %>
         			onClick='return checkallfields()'/>        	
         <% 	} 
            }%>
      </td>
    </tr>

    <% if(ejbcarabean.getTemporaryEndEntityProfileNotification() != null) { %>
     <%-- add new notification input form section --%>
    <tr id="Row<%=row%2%>">
      <td width="10%" valign="middle" align="center"> 
        <input type="submit" name="<%=BUTTON_DELETE_TEMPORARY_NOTIFICATION%>" value="<%= ejbcawebbean.getText("CANCEL") %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %> />
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONSENDER\") %>" />
      </td>
      <td width="50%" valign="top">
        <input type="text" name="<%=TEXTFIELD_NOTIFICATIONSENDER%>" id="<%=TEXTFIELD_NOTIFICATIONSENDER%>" size="45" maxlength="255" <% if(!used || !authorizedToEdit) out.write(" disabled "); %> title="<%= ejbcawebbean.getText("FORMAT_EMAILADDRESS") %>"/>
      </td>
    </tr>
    <tr  id="Row<%=row%2%>">       
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONRECIPIENT\") %>" />
      </td>
      <td width="50%" valign="top">
        <input type="text" name="<%=TEXTFIELD_NOTIFICATIONRCPT%>" size="45" maxlength="255" value="USER" <% if(!used || !authorizedToEdit) out.write(" disabled "); %> title="<%= ejbcawebbean.getText("FORMAT_EMAILADDRESS") %>"/>
      </td>
    </tr>
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONEVENTS\") %>" />
      </td>
      <td width="50%" valign="top"> 
        <select name="<%=SELECT_NOTIFICATIONEVENTS %>" size="7" multiple <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>
     
               <% for(int ev1=0;ev1< statuses.length;ev1++){%>
                <option
               <%    // Default values
                     if ( (statuses[ev1] == EndEntityConstants.STATUS_NEW) || (statuses[ev1] == EndEntityConstants.STATUS_KEYRECOVERY) || (statuses[ev1] == EndEntityConstants.STATUS_INITIALIZED) )
                        out.write(" selected "); 
                %>
                   value='<c:out value="<%= statuses[ev1] %>"/>'><c:out value="<%= statustexts[ev1] %>"/>
                 <%}%>
           </option>
        </select>
      </td>
    </tr>
    <tr  id="Row<%=row%2%>">       
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONSUBJECT\") %>" />
        <%= ejbcawebbean.getHelpReference("/adminguide.html#Dynamic%20Substitution%20Variables") %>
      </td>
      <td width="50%" valign="top">
        <input type="text" name="<%=TEXTFIELD_NOTIFICATIONSUBJECT%>" size="45" maxlength="1024" <%=profiledata.getUse(EndEntityProfile.SENDNOTIFICATION,0) && authorizedToEdit ? "" : "disabled"%> title="<%= ejbcawebbean.getText("FORMAT_STRING") %>"/>
      </td>
    </tr>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONMESSAGE\") %>" /> 
        <%= ejbcawebbean.getHelpReference("/adminguide.html#Dynamic%20Substitution%20Variables") %>
      </td>
      <td width="50%" valign="top">
        <textarea name="<%=TEXTAREA_NOTIFICATIONMESSAGE%>" cols="45" rows="8" <%=profiledata.getUse(EndEntityProfile.SENDNOTIFICATION,0) && authorizedToEdit ? "" : "disabled"%> ></textarea>
      </td>
    </tr>
    <% } %>

      <%-- List of already defined user notifications. --%>
      <% List<UserNotification> col = profiledata.getUserNotifications();
         Collections.reverse(col);
         int j = col.size()-1;
         used = profiledata.getUse(EndEntityProfile.SENDNOTIFICATION,0);
         for (Iterator<UserNotification> uiter = col.iterator(); uiter.hasNext(); j--) {
             UserNotification not = uiter.next();
       %>
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
        <input type="submit" name="<%=BUTTON_DELETE_NOTIFICATION + j%>" value="<%= ejbcawebbean.getText("DELETE") %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %> />
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONSENDER\") %>" />
      </td>
      <td width="50%" valign="top">
        <input type="hidden" name="<%=TEXTFIELD_NOTIFICATIONSENDER + OLDVALUE + j%>" 
           value="<c:out value="<%= not.getNotificationSender() %>"/>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
        <input type="text" name="<%=TEXTFIELD_NOTIFICATIONSENDER + NEWVALUE + j%>" size="45" maxlength="255" 
           value="<c:out value="<%= not.getNotificationSender() %>"/>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>             
      </td>
    </tr>
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONRECIPIENT\") %>" />
      </td>
      <td width="50%">         
        <input type="hidden" name="<%=TEXTFIELD_NOTIFICATIONRCPT + OLDVALUE + j%>" 
           value="<c:out value="<%= not.getNotificationRecipient() %>"/>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
        <input type="text" name="<%=TEXTFIELD_NOTIFICATIONRCPT + NEWVALUE + j%>" size="45" maxlength="255" 
           value="<c:out value="<%= not.getNotificationRecipient() %>"/>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>                  
      </td>
    </tr>
    
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONEVENTS\") %>" />
      </td>
      <td width="50%"> 
      <% 
      Collection evcol = not.getNotificationEventsCollection();
      for(int ev2=0;ev2< statuses.length;ev2++) {
            if ( evcol.contains(String.valueOf(statuses[ev2])) ) { %>
               <input type="hidden" name="<%=SELECT_NOTIFICATIONEVENTS + OLDVALUE + j%>" value="<c:out value="<%= statuses[ev2] %>"/>">
            <% }
      }%>
        <select name="<%=SELECT_NOTIFICATIONEVENTS + NEWVALUE + j%>" size="7" multiple <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>
               <% for(int ev2=0;ev2< statuses.length;ev2++){%>
               <option 
               <%    // Default values
                     if ( evcol.contains(String.valueOf(statuses[ev2])) ) {
                        out.write(" selected "); 
                     }
               %>
                     value='<c:out value="<%= statuses[ev2] %>"/>'><c:out value="<%= statustexts[ev2] %>"/>
               <%}%>
           </option>
        </select>
      </td>
    </tr>
    
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONSUBJECT\") %>" />
      </td>
      <td width="50%">
        <input type="hidden" name="<%=TEXTFIELD_NOTIFICATIONSUBJECT + OLDVALUE + j%>" 
           value="<c:out value="<%= not.getNotificationSubject() %>"/>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
        <input type="text" name="<%=TEXTFIELD_NOTIFICATIONSUBJECT + NEWVALUE + j%>" size="45" maxlength="1024" 
           value="<c:out value="<%= not.getNotificationSubject() %>"/>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>                  
      </td>
    </tr>
    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"NOTIFICATIONMESSAGE\") %>" />
      </td>
      <td width="50%" valign="top">
        <input type="hidden" name="<%=TEXTAREA_NOTIFICATIONMESSAGE + OLDVALUE + j%>" 
            value="<c:out value="<%= not.getNotificationMessage() %>"/>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
        <textarea name="<%=TEXTAREA_NOTIFICATIONMESSAGE + NEWVALUE + j%>" cols="45" rows="8" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>><c:out value="<%= not.getNotificationMessage() %>"/></textarea>  
      </td>
      
    </tr>
    <% } // while (iter.hasNext()) %>
    
   
    
    <tr id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <strong><c:out value="<%= ejbcawebbean.getText(\"PRINTING\") %>" /></strong>
      </td>
      <td width="50%"> 
        <% used = profiledata.getUsePrinting(); %>
        <input type="checkbox" name="<%=CHECKBOX_USE_PRINTING %>" value="<%=CHECKBOX_VALUE %>" onclick="checkusecheckbox('<%=CHECKBOX_USE_PRINTING %>', '<%=CHECKBOX_PRINTING%>', '<%=CHECKBOX_REQUIRED_PRINTING %>'); useprintingchange()"
           <% if(used)
                 out.write("CHECKED");
           %> id="<%=CHECKBOX_USE_PRINTING%>" <% if(!authorizedToEdit) { out.write("disabled"); } %> />
        <label for="<%=CHECKBOX_USE_PRINTING%>"><c:out value="<%= ejbcawebbean.getText(\"USE\") %>" /></label>
        :&nbsp;
        <c:out value="<%= ejbcawebbean.getText(\"DEFAULT\") %>" />
        =<input type="checkbox" name="<%=CHECKBOX_PRINTING%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.getPrintingDefault() && used){
                   out.write("CHECKED");
              }
           %> id="<%=CHECKBOX_PRINTING%>" />
        <%-- <label for="<%=CHECKBOX_PRINTING%>"><c:out value="<%= ejbcawebbean.getText(\"CHECKED\") %>" /></label> --%>
        &nbsp;
        <input type="checkbox" name="<%=CHECKBOX_REQUIRED_PRINTING%>" value="<%=CHECKBOX_VALUE %>" <% if(!used || !authorizedToEdit) out.write(" disabled "); %>
           <% if(profiledata.getPrintingRequired() && used){
                out.write("CHECKED");
              }
           %> id="<%=CHECKBOX_REQUIRED_PRINTING%>" />
        <label for="<%=CHECKBOX_REQUIRED_PRINTING%>"><c:out value="<%= ejbcawebbean.getText(\"REQUIRED\") %>" /></label>
      </td>
    </tr>    
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"PRINTERNAME\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_PRINTINGPRINTERNAME %>" size="1"  <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>
            <% if(printerNames.length == 0){ %>
               <option selected value='<%= -1 %>'><c:out value="<%= ejbcawebbean.getText(\"ERRORNOPRINTERFOUND\")%>" />
           </option>
            <% }else{
                 for(int i=0; i < printerNames.length;i++){ %>
           <option <%  if(printerNames[i].equals(profiledata.getPrinterName())){
                            out.write(" selected "); 
                       }
                      %>
                    value='<c:out value="<%= printerNames[i] %>"/>'>
                    <c:out value="<%= printerNames[i] %>"/>
           </option>
            <%   }
               } %>
        </select>
      </td>
    </tr>
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"PRINTEDCOPIES\") %>" />
      </td>
      <td width="50%"> 
        <select name="<%=SELECT_PRINTINGCOPIES %>" size="1"  <% if(!used || !authorizedToEdit) out.write(" disabled "); %>>
             <%    for(int i=0; i < 5;i++){ %>
           <option <%  if(i == profiledata.getPrintedCopies()){
                            out.write(" selected "); 
                       }
                      %>
                    value='<c:out value="<%= i %>"/>'>
                    <c:out value="<%= i %>"/></option>
            <%   }%>
        </select>
      </td>
    </tr>  
    <tr  id="Row<%=row%2%>"> 
      <td width="10%" valign="top">
         <% if(authorizedToEdit) { %>
         	<input type="submit" name="<%= BUTTON_UPLOADTEMPLATE %>" onClick='return checkallfields()' value="<%= ejbcawebbean.getText("UPLOADTEMPLATE") %>" <% if(!authorizedToEdit) { out.write("disabled"); } %>>
      	  <% } %>
      </td>
      
      <td width="40%" valign="top" align="right"> 
        <c:out value="<%= ejbcawebbean.getText(\"CURRENTTEMPLATE\") %>" />
      </td>
      <td width="50%"> 
           <% if(profiledata.getPrinterSVGFileName().equals("")){
              out.write(ejbcawebbean.getText("NOTEMPLATEUPLOADED"));
            }else{%>
              <c:out value="<%= profiledata.getPrinterSVGFileName() %>"/>
            <%}
         %> 
      </td>
    </tr>  


    <!-- ---------- Form buttons -------------------- -->

    <tr  id="Row<%=row++%2%>"> 
      <td width="10%" valign="top">
         &nbsp;
      </td>
      <td width="40%" align="right"> 
         &nbsp;
      </td>
      <td width="50%" valign="top"> 
        <% if(authorizedToEdit) { %>
        <input type="submit" name="<%= BUTTON_SAVE %>" onClick='return checkallfields()' value="<%= ejbcawebbean.getText("SAVE") %>" >
        &nbsp;&nbsp;&nbsp;
        <% } %>
        <input type="submit" name="<%= BUTTON_CANCEL %>" value="<%= ejbcawebbean.getText("CANCEL") %>">
      </td>
    </tr>
    
  </table>
</form>

