<table width="100%" cellpadding="5" border="0" cellspacing="0">	
	<tr>
		<td nowrap class="lightblue" width="40%" colspan="2" align="left" valign="middle">
			<span class="title">SecNet-IE Inbox: %s</span>
		</td>
		<td nowrap class="lightblue" align="center" valign="middle">
			<span class="title">%s messages</span>
		</td>
		<td xwidth="30%" nowrap class="lightblue" align="right" valign="middle">
		<span class="title"><a class="nounder" href="/cgi-bin/recvcgi">check inbox</a></span>&nbsp;&nbsp;&nbsp;
			<span class="title"><a class="nounder" href="/cgi-bin/logout">log out</a></span>
		</td>
	</tr>
</table>
<table width="100%" cellpadding="5" border="1" cellspacing="0">
	<tr>
		<td class="subtitle">TLP</td>
		<td class="subtitle">From</td>
		<td class="subtitle">Subject</td>
		<td class="subtitle">Date/Time</td>
	</tr>
