    <td nowrap="nowrap" width="20%">
				
		<form action="/cgi-bin/recvcgi" method="post" enctype="application/x-www-form-urlencoded">		
		
    	<table width="100%" class="col1" border="1" bordercolor="#466079" cellpadding="0" cellspacing="0">
			<tr>
				<td class="lightblue" width="100%" align="left" colspan="4">
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td nowrap width="100%" align="left"><span class="title2">List of contacts</span></td>
							<td nowrap align="right"><span class="title2">4 Items</span></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td align="left" colspan="4">
					<input type="submit" name="compose" value="compose">&nbsp;					
					<!--
					<input type="submit" name="add" value="add">
					-->
				</td>
			</tr>
			<tr>
				<td align="center" colspan="2">&nbsp;</td>
				<td align="center">Organisation</td>
				<td align="center">Name</td>
			</tr>
            <tr align="left" valign="top">
              	<td align="center" valign="middle">
			  		<input type="checkbox" name="recipient" value="marcelo@node1.telecom.it">
			  	</td>
              	<td align="center" valign="middle">I</td>
              	<td valign="middle">Telecom Italia</td>
              	<td valign="middle">Marcelo Masera</td>
            </tr>
            <tr align="left" valign="top">
              	<td align="center" valign="middle">
			 		<input type="checkbox" name="recipient" value="carlo@node1.telecom.it">
				</td>
              	<td align="center" valign="middle">I</td>
              	<td valign="middle">Telecom Italia</td>
              	<td valign="middle">Carlo Ferigato</td>
            </tr>
            <tr align="left" valign="top">
              	<td align="center" valign="middle">
					<input type="checkbox" name="recipient" value="fotios@node1.telecom.it">
				</td>
              	<td align="center" valign="middle">I</td>
              	<td valign="middle">Telecom Italia</td>
              	<td valign="middle">Fotios Basagiannis</td>
            </tr>
            
            <tr align="left" valign="top">
              	<td align="center" valign="middle">
			  		<input type="checkbox" name="recipient" value="lothar@node1.enercom.de">
			  	</td>
              	<td align="center" valign="middle">DE</td>
              	<td valign="middle">Enercom</td>
              	<td valign="middle">Lothar Oferlich</td>
            </tr>
            <tr align="left" valign="top">
              	<td align="center" valign="middle">
			 		<input type="checkbox" name="recipient" value="franz@node1.enercom.de">
				</td>
              	<td align="center" valign="middle">DE</td>
              	<td valign="middle">Enercom</td>
              	<td valign="middle">Franz Mateus</td>
            </tr>
        </table>
				
		</form>		
		
	</td>
	