<form method="post" action="/cgi-bin/recvcgi" enctype="application/x-www-form-urlencoded">
	
  	<table border=0 cellpadding="5" cellspacing="0">
    	<tr>
    		<td nowrap class="lightblue" width="100%" align="left" valign="middle">
    			<span class="title">SecNet-IE Message Editor</span>
    		</td>
    		<td nowrap xwidth="100%" class="lightblue" align="right" valign="middle">
    			<span class="title"><a class="nounder" href="/cgi-bin/recvcgi?what=headers"><< Inbox</a></span>
    		</td>
    	</tr>
    	<tr>
    		<td width="100%" colspan="2">
    			<table width="100%" border=0 cellpadding="0" cellspacing="0">
                    <tr>
                	  	<td nowrap>from:&nbsp;</td>
                	  	<td width="100%">
					  		<input class="stretch" readonly type="text" name="from" value="%s" size="20">
						</td>
                	</tr>
					
					<tr><td colspan="2">&nbsp;</td></tr>
                	
                	<tr>
                	  	<td nowrap>to:&nbsp;</td>
                	  	<td>
                	    	<textarea xclass="stretch" name="to" cols="40" rows="5">%s</textarea>
                	  	</td>
                	</tr>
					
					<tr><td colspan="2">&nbsp;</td></tr>
                
                	<tr>
                	  <td nowrap>tlp&nbsp;</td>
                	  <td>
                    		<select id="tlp" name="tlp" hidefocus="true" onchange="javascript:reflectColor();">
                    			<option value="red" selected>red</option>
                    			<option value="amber">amber</option>
                    			<option value="green">green</option>
								<option value="white">white</option>                  
                            </select>
                	  </td>
                	</tr>
					
					<tr><td colspan="2">&nbsp;</td></tr>
                	
                	<tr>
                	  	<td nowrap>subject:&nbsp;</td>
                	  	<td>
							<input class="stretch" type="text" name="subject" value="%s" size=65>
         				</td>
                	</tr>
					
					<tr><td colspan="2">&nbsp;</td></tr>
					
					<tr>
						<td nowrap colspan="2">
							<br><br>
							message:&nbsp;
							<br><br>
						</td>
					</tr>
					<tr>
						<td id="tlpcolor" width="100%" style="background-color:red;padding:20px;" colspan="2">						
							<textarea class="stretch" name="message" rows=15 cols=80>%s</textarea>
  						</td>
					</tr>
					
					<tr><td colspan="2">&nbsp;</td></tr>
					
					<tr>
						<td align="right" colspan="2">
							<input type="submit" name="send" value="send">
							<input type="hidden" name="inreplyto" value="%s">
						</td>
					</tr>
    			</table>
    		</td>
    	</tr>
  	</table>

  <br>
<!--
  </form>
  -->
