        <input type="submit" name="reply" value="reply">&nbsp;
		<input type="submit" name="forward" value="forward">&nbsp;
        <input type="submit" name="delete" value="delete">&nbsp;
		<input type="hidden" name="msgid" value="%s">
	</td>
</tr>