<tr>
	<td colspan="2" align="center" width="100%" height="100%" style="background-color:%s">
		<table border="1" width="85%" height="100%">
			<tr>
				<td width="100%" height="100%" style="background-color:white">
    				<textarea style="word-wrap:break-word" readonly cols="30" rows="30" class="stretch" name="msg">%s%s</textarea>
					<div style="display:none;" id="secnetTag" value="%s"></div>
				</td>
			</tr>
		</table>
	</td>
</tr>    

</table>

</form>

