<form method="post" action="/cgi-bin/recvcgi" enctype="application/x-www-form-urlencoded">

<table cellpadding="5" cellspacing="0" border="0" width="100%" height="100%">
	<tr>
		<td class="lightblue" width="100%" align="left" valign="middle">
			<span class="title">SecNet-IE Message Reader</span>
		</td>
		<td nowrap class="lightblue" align="right" valign="middle">
			<span class="title"><a class="nounder" href="/cgi-bin/recvcgi?what=headers"><< Inbox</a></span>
		</td>
	</tr>
    <tr>
    	<td style="padding:0px" width="100%" align="left">		