    <td width="60%" nowrap="nowrap">
	
		<table width="100%" class="col2" border="0" cellpadding="0" cellspacing="0">
      		<tr>
        		<td width="100%" align="left" valign="top">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="100%">
								