    <td nowrap="nowrap" width="20%">
		
		<!--
		<form method="post" action="/cgi-bin/recvcgi" enctype="application/x-www-form-urlencoded">
		<input type="submit" name="tag" value="tag"/>
		-->
		
		<table width="100%" class="col3" border="1" bordercolor="#466079" cellpadding="0" cellspacing="0">
			<tr>
				<td class="lightblue" width="100%" align="left">
					<table width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td nowrap width="100%" align="center"><span class="title2">Taxonomies</span></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td>%s</td>
			</tr>			
    	</table>
		</form>
	</td>
	
	